<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Simple interface to make some music using a raspberry pi">
    <meta name="author" content="Robert Filter">
    <link rel="icon" href="">
    <title>{{ title }}</title>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
   <div class="container-fluid">
        <div class="jumbotron">
            <h1>Roku Controller</h1>
          <div class="row">          
            <div class="btn-group">
                <a href="/back" class="btn btn-lg btn-primary">Back</a>
                <a href="/home" class="btn btn-lg btn-primary">Home</a>
            </div>
          </div>
          <div class="row">          
            <div class="btn-group center-block">
                <a href="/up" class="btn btn-lg btn-primary">Up</a>
            </div>
          </div>
          <div class="row">
            <div class="btn-group center-block">
                <a href="/left" class="btn btn-lg btn-primary">Left</a>
                <a href="/select" class="btn btn-lg btn-warning">Select</a>
                <a href="/right" class="btn btn-lg btn-primary">Right</a>
            </div>
          </div>
          <div class="row">
            <div class="btn-group center-block">
                <a href="/down" class="btn btn-lg btn-primary">Down</a>
            </div>
          </div>
          <div class="row">
            <div class="btn-group">
                <a href="/rev" class="btn btn-lg btn-primary">Rev</a>
                <a href="/play" class="btn btn-lg btn-primary">Play</a>
                <a href="/fwd" class="btn btn-lg btn-primary">Fwd</a>
            </div>
          </div>
        </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
